*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #0d002e;
  text-align: center;
  height: 100vh;
  display: flex;
    align-items: center;
    justify-content: center;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border: none; 
}
